{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    <!-- <link rel="stylesheet" href="./checkbox.css"> -->
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}" />


</head>

<body>
    <section>
        <div class="create_container">
            <input type="text" class="create_input" placeholder="Введите новую задачу: ">
            <button class="create_button">Добавить</button>
        </div>

        <div class="todo_container">

            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <h4>Просмотреть урок№28</h4>
                </div>
                <div class="todo_item_footer">
                    <p> 06.01 2021 <span>17:22</span></p>
                    <div class="action_buttons">
                        <img src="./icons/star.png" />
                        <img src="./icons/trash_120980.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <h4>Сделать домашнее задание №18</h4>
                </div>
                <div class="todo_item_footer">
                    <p> 07.01 2021 <span>20:00</span></p>
                    <div class="action_buttons">
                        <img src="./icons/star.png" />
                        <img src="./icons/trash_120980.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <h4>Тренировка</h4>
                </div>
                <div class="todo_item_footer">
                    <p> 09.01 2021 <span>10:00</span></p>
                    <div class="action_buttons">
                        <img src="./icons/star.png" />
                        <img src="./icons/trash_120980.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <h4>Начать разработку портфолио.</h4>
                </div>
                <div class="todo_item_footer">
                    <p> 09.01.2021 <span>16:00</span></p>
                    <div class="action_buttons">
                        <img src="./icons/star.png" />
                        <img src="./icons/trash_120980.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <h4>Сходить с детьми в кино.</h4>
                </div>
                <div class="todo_item_footer">
                    <p> 10.01.2021 <span>11:00</span></p>
                    <div class="action_buttons">
                        <img src="./icons/star.png" />
                        <img src="./icons/trash_120980.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <h4>Проведать родителей.</h4>
                </div>
                <div class="todo_item_footer">
                    <p> 10.01 2021 <span>15:00</span></p>
                    <div class="action_buttons">
                        <img src="./icons/star.png" />
                        <img src="./icons/trash_120980.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <h4>Приготовить школьную форму детей.</h4>
                </div>
                <div class="todo_item_footer">
                    <p> 10.01 2021 <span>19:00</span></p>
                    <div class="action_buttons">
                        <img src="./icons/star.png" />
                        <img src="./icons/trash_120980.png" />
                    </div>
                </div>
            </div>
        </div>


    </section>
</body>

</html>